*{
    border: 1px solid red
}

h1{
    border-color: lime;
}

#css{
    border-color: pink;
    margin: 10px 0;;
}

.highlight{
    background-color: yellow;
    padding: 0 4px;
    border: none;
    border-radius: 15px;
}

.lime{
    background-color: lime;
}